
@import url('https://fonts.googleapis.com/css?family=Open-Sans|Roboto&display=swap');
body {
	background-color: lightgray;
	font-family: Roboto;
}
/*Begin; trang chủ*/
/*Begin: header*/
#header {
	background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
		url("../imageForLab/studing-wallpaper.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-background-size: cover;
	height: 600px;
}
.navbar {
	height: 65px! important;
}
.nav-right {
	padding-left: 1% !important;
	opacity: 0.94;
	background-color: #2e1303;
	border-radius: 7px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.5);

}
.nav-link {
	width: 150px;
    box-shadow: -1px 1px 3px 1px;
    text-align: center;
    margin-left: 18px;
    border-radius: 6px;

}
a.nav-link:hover{

	
	background-color: #4e2b14;


}
.navbar-light .navbar-brand {
	margin-right: 22% !important;
}
.navbar a{
	color: white !important;
	padding-left: 5px;
	padding-right: 10px;
	
}

.text-title {
	text-align: center;
	color: #f0ffec;
    
	
}




#title-labs{
	margin-top: 100px;
	text-align: center;
	font-family: cursive;


}

.labs {
	height: 200px;
    margin: 45px 21px 25px 65px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    text-align: center;
    border-radius: 8px;
    background-color: #38886a;
}
.labs:hover {
	background-color: #96a2ad;
	
}
.text-lab:hover{
	color:#484545;
	font-size: 25px;
}

.text-lab {
	margin-top:61px;
	font-size: 23px;
	color:#ffffff;

}
.text-lab span{
	margin-top: 12px;
}
.text-lab img{
	width:32px;
}
.requirement-content{
	text-align: center;
	color: white;
	padding: 40px 40px 40px 40px;
	top: 65%;
	background-color: #48332c;
	opacity: 0.95;
	transition: all 0.3s ease-in;
	font-size: 16px;
	margin-top: 11%;
    height: 277px;
    border-radius: 7px;
}

.requirement-content:hover{
	background-color: #130703;
    cursor: pointer;
}
.requirement-content i{
	width: 64px;
	height: 64px;
}

    
/*END: header*/

/*BEGIN: BODY*/
#figma {
	background: white;
	height: 900px;
	width: 95%;
    margin-top: 150px;
    padding-top: 15px;
    border-radius: 16px;
   	box-shadow: 5px 5px 5px rgba(0,0,0,0.75);

}
.content-figma h2 {
	font-size: 3rem;
}
.text-figma{
	font-size: 24px;
	margin-left: 7%;
    margin-bottom: 47px;
}
.button-download{
	width: 100px;
	height: 50px;
	box-shadow: 5px 5px 5px rgba(0,0,0.5);
}
.download-single{
	padding-left: 30px;
}
.download-single a{
	margin-left: 12px;
}
.btn-primary {
	background-color: #4f5690;
	height: 40px;
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.75);
	border:none !important;

}
#implement-tab {
	background: white;
	height: 400px;
	width: 95%;
    margin-top: 100px;
    padding-top: 15px;
    border-radius: 16px;
   	box-shadow: 5px 5px 5px rgba(0,0,0,0.75);

}



.download-all{
	padding-left:38%;
}

.download-all a {
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.75);
	height: 40px;
}
.image-figma {
	text-align: center;
}
.image-figma p {
	font-size: 20px;
	font-weight:bold;
	padding-top: 32px;
}






/*END: BODY*/
/*BEGIN: FOOTER*/
.footer{
	background-color: #1f1a64;

}
/*END: FOOTER*/



/*responsive HOME*/

@media ( max-width : 575.98px) {
ul.navbar-nav {
background-color:  #2e1303 !important;
width: 103.4%;
margin-left: -1%;

}
.nav-link {
	margin-top: 10px;
}



}

@media ( min-width : 576px) and (max-width: 767.98px) {
ul.navbar-nav {
background-color:  #2e1303 !important;
width: 103.4%;
margin-left: -1%;

}
.nav-link {
	margin-top: 10px;
}
	
}

@media ( min-width : 768px) and (max-width: 991.98px) {
	.navbar-light .navbar-brand {
	margin-right: 3% !important;
}
}

@media ( min-width : 992px) and (max-width: 1199.98px) {
	
}


/*End: trang chủ*/

/*BEGIN: Page For Labs*/

/*END: Page For Labs*/

/*Begin: Lab1*/

/*Begin: title*/
.background-lab1{
	background-image: url("../imageForLab/bg-wood.jpg");
}
.mobileframe {

	height: 740px;
	width: 375px;
	background-color: white;
	margin-top: 30px;
	background-image: url("../imageForLab/iPhoneX.png");
	box-shadow: 10px 17px 17px rgba(10,10,10,10.25);
	border-radius: 6px;
}
.title-ff  {
	
	padding-top: 110px;
	padding-left: 50px;
	text-align: center;
	

}
.col-sm-6{
	max-width: 100% !important;
}
.title-ff span {
	font-weight:bold;
	font-size: 43px;
	color: #851B1B;
}
/*End Title*/

.button-mycart {
	padding-top: 380px;
	padding-left: 56px;
}

.button-style button{
	border: none;
	background-color: white;
	color: #452929;
	font-size: 23px;
	width: 258px;
	height: 54px;
	font-weight: bold;
	border-radius: 7px;
	box-shadow: 5px 7px 7px rgba(2, 2, 2, 0.75);

}
.button-mycart img{
	margin-left: -54px;
	padding-right: 32px;
	padding-bottom: 9px;
	
}
/*End: Page 1*/
/*Start Page 2*/
.inside {

	background-image: url("../imageForLab/iphoneX2.png");
}

.infor {
	margin-top: 20px;
}

.buttonTool {
width: 127px;
height: 149px;
left: 24px;
top: 160px;
background-color: white;
margin-right: 10px;
margin-left: 10px;
box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
border-radius: 8px;
text-align: center;
}
.buttonTool img{
	position: absolute;
	width: 50px;
	margin-left: -24px;
    margin-top: 20px;
	
}
.text {
	margin-top: 81px;
	font-weight: 600;
   font-size: 23px;
   line-height: 27px;

   text-align: center;
    color: #442828

}
.frameImg {
	width: 56px;
	height: 48px;
	border-radius: 60px;
	background-color: #FFF;
	margin-top: 10px;
	padding-left: 11px;
}

/*Begin: FUNCTION FOR BUTTON*/
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}


.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
/*END: FUNCTION FOR BUTTON*/
/*END lab1-implemnet*/
